.people{
    padding: 10rem 0 3rem;
    background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.6)),
    url("../images/img-people-bg.png") no-repeat center / cover;

    &-list{
        @include flex(row,space-between, stretch, wrap);
        margin-top: 9rem;
        padding: 0 4rem;
    }

    &-item{
        width: calc(50% - 4rem);
        margin-bottom: 7rem;
    }

    &-avatar{
        @include size(11.5rem);
        border-radius: 100rem;
        object-fit: cover;
        flex-shrink: 0;
    } 

    &-info{
        padding-left: 3rem;
    }

    &-name{
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }
}