.work{
    padding-top: 10rem;

    &-item{
        position: relative;
        @include flex(row, center, center, null);
    }

    &-content{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        
    }
}